#logo {
    box-align: left;
    width: 100 ;
    height: 100;
}

background_sfondo_titolo {
    background-image: url('img/pattern.jpg');
}
 
#text_left {
    text-align: left;
}

#body{
    color: rgb(82, 82, 245);
}

#color_text{
    text-color: grey; 
}

#table {
  background-color: #92a8d1;
}